<nav class="navbar navbar-expand-lg navbar-ligth"
  style="background-color: #ffffff; box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);">
  <div class="container-fluid">
    <a routerLink="/PQRS"><img src="../assets/intecma-sas-logo_1200x1200.png" alt="Logo intecma" width="150px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/Clientes">Clientes</a>
          <!-- <a class="nav-link" routerLink="/PQRS">Productos</a> -->
        <a class="nav-link" routerLink="/PQRS">PQRS</a>
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
<div style="padding-top: 60px;">
  <router-outlet></router-outlet>
</div>