<ngx-spinner size = "medium" color = "#fff" type="square-jelly-box" ><p style="color: white" > Cargando... </p></ngx-spinner>

<div id="cuerpo">
    <div class="container mt-3">
        <button title="Volver al listado PQRS" class="btn btn-outline-dark" routerLink="/PQRS"><i class="bi bi-box-arrow-left"></i></button>
        <h1>Agregar PQRS</h1>
        <br>
        <form class="row  g-3" [formGroup]="formPqrs">

            <div class="form-floating mb-3">

                <select class="form-select" *ngIf="dataClienteOpcion" aria-label="Default select example"
                    (change)="getInfoCliente()" formControlName="cliente">
                    <option disabled selected>---Seleccione un cliente---</option>
                    <option *ngFor="let option of dataClienteOpcion" [value]="option.cli_id">{{option.cli_nombre}}
                    </option>
                </select>

                <label class="form-label" for="cliente" style="color: green;" *ngIf="cliente.valid">* Cliente</label>
                <label class="form-label" for="cliente" style="color: red;" *ngIf="cliente.invalid">* Cliente</label>

                <div class="alert alert-danger" [hidden]="cliente.untouched || cliente.valid">
                    <span>Por favor seleccione el cliente.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <input name="zona" class="form-control" type="text" id="zona" [value]="cli_zona" disabled>
                <label class="form-label" for="zona">Zona</label>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <input name="asesor" class="form-control" type="text" id="asesor" [value]="cli_asesor" disabled>
                <label class="form-label" for="asesor">Asesor</label>

            </div>

            <div class="form-floating mb-3">

                <input class="form-control" name="documento" type="text" id="documento" formControlName="documento">

                <label class="form-label" for="documento" style="color: green;" *ngIf="documento.valid">*
                    Documento</label>
                <label class="form-label" for="documento" style="color: red;" *ngIf="documento.invalid">*
                    Documento</label>

                <div class="alert alert-danger" [hidden]="documento.pristine || documento.valid">
                    <span *ngIf="documento.errors?.['required']">Por favor ingrese el documento.</span>
                    <span *ngIf="documento.errors?.['maxlength']">El documento supera los 99 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <textarea class="form-control" id="descripcion" name="descripcion" (keyup)="onKeyDescripcion($event)"
                    style="height: 200px" formControlName="descripcion"></textarea>

                <label class="form-label" for="descripcion" style="color: green;" *ngIf="descripcion.valid">*
                    Descripcion
                    {{contadorDes}}/5000</label>
                <label class="form-label" for="descripcion" style="color: red;" *ngIf="descripcion.invalid">*
                    Descripcion {{contadorDes}}/5000</label>

                <div class="alert alert-danger" [hidden]="descripcion.pristine || descripcion.valid">
                    <span *ngIf="descripcion.errors?.['required']">Por favor ingrese la descripcion.</span>
                    <span *ngIf="descripcion.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                </div>

            </div>
            <div class="mb-3 col-md-6">
                <button title="Volver al listado PQRS" type="submit" class="btn btn-secondary" style="width: 100%;" routerLink="/PQRS">Volver</button>
            </div>
            <div class="mb-3 col-md-6">
                <button title="Registrar la PQRS" type="submit" class="btn btn-primary" style="width: 100%;" (click)="crearPqrs()"
                    [disabled]="formPqrs.invalid || loading">{{(loading)?'Cargando...'
                    : 'Registrar y Continuar'}}</button>
            </div>

            <div class="alert alert-danger" [hidden]="formPqrs.valid">
                <p>Por favor, complete todos los campos obligatorios marcados con un asterisco (*) antes de enviar el
                    formulario. Además, asegúrese de que no quede ningún campo resaltado en rojo.</p>
            </div>
        </form>


    </div>
</div>