.example-container {
    position: relative;
    
}
.example-table-container {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    position: relative;
  }
table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    background-color: #04643913;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

#Estado {
    text-align: center;
}

#productos{
    width: 500px;
}

#lote{
    width: 100px;
}

#cantidad{
    width: 100px;
}

