<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-ligth fixed-top" style="background-color: #ffffff; box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);">
    <div class="container-fluid">
        <a routerLink="/Pqrs"><img src="../assets/img/intecma-sas-logo_1200x1200.png" alt="Logo intecma" width="150px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Clientes"><img id="logo" src="../../../../assets/img/revisar.png" alt="Clientes"> CLIENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Pqrs"><img id="logo" src="../../../../assets/img/queja.png" alt="Pqrs"> PQRS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img id="logo" src="../../../../assets/img/administrador.png" alt="Pqrs">ADMINISTRAR
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/Usuarios"><img id="logo" src="../../../../assets/img/agregar-usuario.png" alt="Pqrs">Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="/Roles"><img id="logo" src="../../../../assets/img/gestion-de-los-interesados.png" alt="Pqrs">Roles</a></li>
              <li><a class="dropdown-item" routerLink="/Modulos"><img id="logo" src="../../../../assets/img/modules.png" alt="Pqrs">Modulos</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" (click)="cerrarSesion()">Cerrar</button>
        </form>
      </div>
    </div>
  </nav>