<app-menu></app-menu>

<ngx-spinner size="medium" color="#fff" type="square-jelly-box">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>
  
<div id="cuerpo">
    <div class="container">

        <button class="btn btn-outline-dark" title="Volver al listado de Usuarios" routerLink="/Usuarios"><i class="bi bi-box-arrow-left"></i></button>
        <h1>Agregar Usuario</h1>
        <br>
        <form class="row  g-3" [formGroup]="formUsuarios">

            <!-- Username -->
            <div class="form-floating mb-3">

                <input class="form-control" type="text" id="username" formControlName="username">
                <label class="form-label" for="username" style="color: green;" *ngIf="username.valid">* Nombre de Usuario</label>
                <label class="form-label" for="username" style="color: red;" *ngIf="username.invalid">* Nombre de Usuario</label>

                <div class="alert alert-danger" [hidden]="username.pristine || username.valid">
                    <span *ngIf="username.errors?.['required']">Por favor ingrese el Nombre de Usuario.</span>
                    <span *ngIf="username.errors?.['maxlength']">Hay mas de 100 caracteres.</span>
                </div>

            </div>

            
            <!-- Contraseña -->
            <div class="form-floating mb-3">
                
                <input class="form-control" type="text" id="usu_contrasena" formControlName="usu_contrasena">
                <label class="form-label" for="usu_contrasena" style="color: green;" *ngIf="usu_contrasena.valid">* Contraseña</label>
                <label class="form-label" for="usu_contrasena" style="color: red;" *ngIf="usu_contrasena.invalid">* Contraseña</label>
                
                <div class="alert alert-danger" [hidden]="usu_contrasena.pristine || usu_contrasena.valid">
                    <span *ngIf="usu_contrasena.errors?.['required']">Por favor ingrese el Contraseña</span>
                    <span *ngIf="usu_contrasena.errors?.['minlength']">La contraseña debe tener minimo 8 caracteres</span><br *ngIf="usu_contrasena.errors?.['minlength']">
                    <span *ngIf="usu_contrasena.errors?.['pattern']">La contraseña debe cumplir con los siguientes requisitos:<br *ngIf="usu_contrasena.errors?.['pattern']">
                        - Al menos un número.<br>
                        - Al menos una letra minúscula.<br>
                        - Al menos una letra mayúscula.<br>
                        - O un carácter especial. </span><br>
                    <span *ngIf="usu_contrasena.errors?.['maxlength']">Hay mas de 300 caracteres.</span>
                </div>
                
            </div>
            
            <!-- Cargo -->
            <div class="form-floating mb-3 col-md-6">

                <select id="carg_id" class="form-select" *ngIf="dataCargos" name="carg_id"
                    aria-label="Default select example" formControlName="carg_id">

                    <option disabled selected>---Seleccione el Cargo del Usuario---</option>
                    <option *ngFor="let option of dataCargos" [value]="option.carg_id">{{option.carg_nombre}}</option>

                </select>

                <label class="form-label" for="cargo" style="color: green;" *ngIf="carg_id.valid">* Cargo</label>
                <label class="form-label" for="cargo" style="color: red;" *ngIf="carg_id.invalid">* Cargo</label>

                <div class="alert alert-danger" [hidden]="carg_id.untouched || carg_id.valid">
                    <span>Por favor seleccione el Cargo del Usuario.</span>
                </div>
                
            </div>
            <!-- Roles -->
            <div class="form-floating mb-3 col-md-6">

                <select id="rol_id" class="form-select" name="rol_id"
                    aria-label="Default select example" formControlName="rol_id">

                    <option disabled selected>---Seleccione el Rol del Usuario---</option>
                    <option *ngFor="let option of dataRoles" [value]="option.rol_id">{{option.rol_nombre}}</option>

                </select>

                <label class="form-label" for="cargo" style="color: green;" *ngIf="rol_id.valid">* Rol</label>
                <label class="form-label" for="cargo" style="color: red;" *ngIf="rol_id.invalid">* Rol</label>

                <div class="alert alert-danger" [hidden]="rol_id.untouched || rol_id.valid">
                    <span>Por favor seleccione el Rol del Usuario.</span>
                </div>

            </div>

            <div class="mb-3 col-md-6">
                <button type="submit" title="Volver al listado de Clientes" class="btn btn-secondary" style="width: 100%;" routerLink="/Clientes">Volver</button>
            </div>
            <div class="mb-3 col-md-6">
                <button type="submit" title="Registrar al Cliente" class="btn btn-primary" style="width: 100%;" (click)="AgregarUsuario()"
                    [disabled]="formUsuarios.invalid||loading">{{(loading)?'Cargando...'
                    : 'Registrar'}}</button>
            </div>

            <div class="alert alert-danger"  [hidden]="formUsuarios.valid">
                <p>Por favor, complete todos los campos obligatorios marcados con un asterisco (*) antes de enviar el formulario. Además, asegúrese de que no quede ningún campo resaltado en rojo.</p>
            </div>
        </form>


    </div>
</div>
