<app-menu></app-menu>

<ngx-spinner size="medium" color="#fff" type="square-jelly-box">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div id="cuerpo">
    <div class="container mt-3">
        <button title="Volver al listado de Estudios Creditos" class="btn btn-outline-dark"
            routerLink="/EstudioCreditos"><i class="bi bi-box-arrow-left"></i></button>
        <h1>{{title}} Estudios de Creditos</h1>
        <br>
        <form class="row  g-3" [formGroup]="formEstudio">
            <h4 class="subtitulo">Comercial</h4>

            <!-- Cliente del estudio -->
            <div class="form-floating mb-3">

                <select class="form-select" *ngIf="dataClienteOpcion" aria-label="Default select example"
                    (change)="getInfoCliente()" formControlName="cliente">
                    <option disabled selected>---Seleccione un cliente---</option>
                    <option *ngFor="let option of dataClienteOpcion" [value]="option.cli_id">{{option.cli_nombre}}
                    </option>
                </select>

                <label class="form-label" for="cliente" style="color: green;" *ngIf="cliente.valid">* Cliente</label>
                <label class="form-label" for="cliente" *ngIf="labelsComercial">Cliente</label>
                <label class="form-label" for="cliente" style="color: red;" *ngIf="cliente.invalid">* Cliente</label>

                <div class="alert alert-danger" [hidden]="cliente.untouched || cliente.valid">
                    <span>Por favor seleccione el cliente.</span>
                </div>

            </div>

            <!-- Tipo de esutudio de Credito -->
            <div class="form-floating mb-3">

                <select class="form-select" *ngIf="dataTipoEstudioOpcion" aria-label="Default select example"
                    formControlName="tipo">
                    <option disabled selected>---Seleccione un Tipo de Estudio de Credito---</option>
                    <option *ngFor="let option of dataTipoEstudioOpcion" [value]="option.cred_tipo_id">
                        {{option.cred_tipo_nombre}}
                    </option>
                </select>

                <label class="form-label" for="tipo" style="color: green;" *ngIf="tipo.valid">* Tipo de Estudio</label>
                <label class="form-label" for="tipo" *ngIf="labelsComercial">Tipo de Estudio</label>
                <label class="form-label" for="tipo" style="color: red;" *ngIf="tipo.invalid">* Tipo de Estudio</label>

                <div class="alert alert-danger" [hidden]="tipo.untouched || tipo.valid">
                    <span>Por favor seleccione el Tipo de Estudio de Credito.</span>
                </div>

            </div>

            <!-- Observaciones Equipo Comercial -->
            <div class="form-floating mb-3">

                <textarea class="form-control" id="obserComercial" name="obserComercial"
                    (keyup)="onKeyobserComercial($event)" style="height: 200px"
                    formControlName="obserComercial"></textarea>

                <label class="form-label" for="obserComercial" style="color: green;" *ngIf="obserComercial.valid">*
                    Observaciones Equipo Comercial {{contadorDes}}/5000</label>

                <label class="form-label" for="obserComercial" *ngIf="labelsComercial">Observaciones Equipo Comercial
                    {{contadorDes}}/5000</label>

                <label class="form-label" for="obserComercial" style="color: red;" *ngIf="obserComercial.invalid">*
                    Observaciones Equipo Comercial {{contadorDes}}/5000</label>

                <div class="alert alert-danger" [hidden]="obserComercial.pristine || obserComercial.valid">
                    <span *ngIf="obserComercial.errors?.['required']">Por favor ingrese las Observaciones.</span>
                    <span *ngIf="obserComercial.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                </div>

            </div>

            <!-- Asesor del Cliente -->
            <div class="form-floating mb-3 col-md-6">

                <input name="asesor" class="form-control" type="text" id="asesor" [value]="cli_asesor" disabled>
                <label class="form-label" for="asesor">Asesor</label>

            </div>

            <!-- Desde cuando es Cliente -->
            <div class="form-floating mb-3 col-md-6">

                <input class="form-control" name="cliente_desde" type="text" id="cliente_desde"
                    formControlName="cliente_desde">

                <label class="form-label" for="cliente_desde" style="color: green;" *ngIf="cliente_desde.valid">*
                    Cliente Desde</label>

                <label class="form-label" for="cliente_desde" *ngIf="labelsComercial">Cliente Desde</label>

                <label class="form-label" for="cliente_desde" style="color: red;" *ngIf="cliente_desde.invalid">*
                    Cliente Desde</label>

                <div class="alert alert-danger" [hidden]="cliente_desde.pristine || cliente_desde.valid">
                    <span *ngIf="cliente_desde.errors?.['required']">Por favor ingrese desde cuando el cliente esta con
                        intecma.</span>
                    <span *ngIf="cliente_desde.errors?.['maxlength']">La fecha supera los 99 caracteres.</span>
                </div>

            </div>

            <!-- Cupo de credito Actual -->
            <div class="form-floating mb-3 col-md-6">

                <input class="form-control" name="cupo_actual" type="number" id="cupo_actual"
                    formControlName="cupo_actual">

                <label class="form-label" for="cupo_actual" style="color: green;" *ngIf="cupo_actual.valid">*
                    Cupo de Credito Actual</label>

                <label class="form-label" for="cupo_actual" *ngIf="labelsComercial">Cupo de Credito Actual</label>

                <label class="form-label" for="cupo_actual" style="color: red;" *ngIf="cupo_actual.invalid">*
                    Cupo de Credito Actual</label>

                <div class="alert alert-danger" [hidden]="cupo_actual.pristine || cupo_actual.valid">
                    <span *ngIf="cupo_actual.errors?.['required']">Por favor ingrese el Cupo de Credito Actual</span>
                    <span *ngIf="cupo_actual.errors?.['max']">El cupo supera la cantidad de 999'999.999.</span>
                </div>

            </div>

            <!-- Plazo de pago actual -->
            <div class="form-floating mb-3 col-md-6">

                <input name="plazo_actual" class="form-control" type="text" id="plazo_actual" [value]="cli_plazo"
                    disabled>
                <label class="form-label" for="plazo_actual">Plazo de Pago Actual</label>

            </div>

            <!-- Descuentos Otorgados -->
            <div class="form-floating mb-3">

                <input class="form-control" name="descuento" type="text" id="descuento" formControlName="descuento">

                <label class="form-label" for="descuento" style="color: green;" *ngIf="descuento.valid">*
                    Descuentos Otorgados</label>

                <label class="form-label" for="descuento" *ngIf="labelsComercial">Descuentos Otorgados</label>

                <label class="form-label" for="descuento" style="color: red;" *ngIf="descuento.invalid">*
                    Descuentos Otorgados</label>

                <div class="alert alert-danger" [hidden]="descuento.pristine || descuento.valid">
                    <span *ngIf="descuento.errors?.['required']">Por favor ingrese el Cupo de Credito Actual</span>
                    <span *ngIf="descuento.errors?.['maxlength']">El descuento supera los 500 caracteres.</span>
                </div>

            </div>

            <!-- Tabla de documento (agregar, modificar, eliminar, tabla con contenido) -->
            <div class="mb-3" *ngIf="!documentos&&crearDoc">
                <button id="infoButton" class="btn btn-info btn-sm" (click)="documentos=true"><i
                        class="bi bi-plus-square-fill"></i> Ver Documentos</button>
            </div>
            <section class="example-container mat-elevation-z8" tabindex="0" *ngIf="documentos">
                <div class="row">
                    <div class="mb-3 col-md-3">
                        <button class="btn btn-success btn-sm" *ngIf="botonDocumento"
                            (click)="agregarDocumentoBoton()"><i class="bi bi-plus-square-fill"></i> Agregar
                            Documento</button>
                    </div>
                    <div class="mb-3 col-md-7">
                    </div>
                    <div class="mb-3 col-md-1">
                        <button class="btn btn-light" *ngIf="botonDocumento" (click)="getListDocumentos()"><i
                                class="bi bi-arrow-clockwise"></i></button>
                    </div>
                    <div class="mb-3 col-md-1">
                        <button type="button" class="btn-close" aria-label="Close" (click)="documentos=false"></button>
                    </div>
                </div>

                <form class="row  g-3" [formGroup]="formDocumento"
                    *ngIf="documentoNuevo == true|| documentoModificar == true">

                    <div class="form-floating mb-3">

                        <select id="documento" class="form-select" *ngIf="dataDocumentoOption"
                            (change)="getDocumentoNombre(documento.value)" aria-label="Default select example"
                            name="documento" formControlName="documento">

                            <option disabled selected>---Seleccione un documento---</option>
                            <option *ngFor="let option of dataDocumentoOption" [value]="option.cred_doc_id">
                                {{option.cred_doc_nombre}} ({{option.cred_doc_descripcion}})</option>

                        </select>

                        <label class="form-label" for="documento" style="color: green;" *ngIf="documento.valid">*
                            Documento</label>
                        <label class="form-label" for="documento" style="color: red;" *ngIf="documento.invalid">*
                            Documento</label>

                        <div class="alert alert-danger" [hidden]="documento.untouched || documento.valid">
                            <span>Por favor seleccione el documento.</span>
                        </div>

                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="file" (change)="getFile($event)" id="formFile">
                        <label for="formFile" class="form-label">Documentos Credito</label>
                    </div>

                    <!-- Cancelar -->
                    <div class="mb-3 col-md-6">
                        <button title="Cancelar" type="submit" class="btn btn-secondary btn-sm" style="width: 100%;"
                            (click)="cancelarDocumentoBoton()">Cancelar</button>
                    </div>
                    <!-- Registrar Documento -->
                    <div class="mb-3 col-md-6" *ngIf="documentoNuevo">
                        <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;"
                            (click)="sendFile(true)" title="Registrar Documento del Estudio de Credito"
                            [disabled]="formDocumento.invalid||loading">{{(loading)?'Cargando...'
                            : 'Registrar Documento'}}</button>
                    </div>
                    <!-- Modificar Documento -->
                    <div class="mb-3 col-md-6" *ngIf="documentoModificar">
                        <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;"
                            (click)="sendFile(false)" title="Modificar Documento del Estudio de Credito"
                            [disabled]="formDocumento.invalid||loading">{{(loading)?'Cargando...'
                            : 'Modificar Documento'}}</button>
                    </div>

                    <div class="alert alert-danger" [hidden]="formDocumento.valid">
                        <p>Por favor, complete todos los campos obligatorios marcados con un asterisco (*) antes de
                            registrar el Documento. Además, asegúrese de que no quede ningún campo resaltado en rojo.
                        </p>
                    </div>
                </form>
                <div class="example-table-container">
                    <table mat-table [dataSource]="dataSource" class="example-table" matSort>

                        <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.prop"> {{column.titulo}}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element[column.prop]}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Ver" stickyEnd>
                            <th id="centrar" mat-header-cell *matHeaderCellDef> Ver </th>
                            <td id="centrar" mat-cell *matCellDef="let element">

                                <a class="btn btn btn-outline-light" title="Ver PDF" target="_blank"
                                    [href]="element.cred_estu_doc_url" rel="noopener noreferrer">
                                    <img src="../../../../assets/img/pdf.png">
                                </a>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Acciones" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element">

                                <button class="btn btn btn-outline-light" title="Modificar PQRS"
                                    (click)="traerDocumento(element.cred_estu_doc_id)" *ngIf="botonDocumento">

                                    <img src="../../../assets/img/lapiz.png">

                                </button>

                                <button class="btn btn btn-outline-light" title="Modificar PQRS"
                                    (click)="openDialog(element.cred_estu_doc_id, element.cred_doc_nombre)"
                                    *ngIf="botonDocumento">

                                    <img src="../../../../../assets/img/borrar.png" alt="eliminar">

                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[8]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </section>

            <!-- Comprobación Comercial -->
            <section *ngIf="dirComercial">
                <h4 class="subtitulo">Directora Comercial</h4>
                <!-- Observaciones Director Comercial -->
                <div class="form-floating mb-3">

                    <textarea class="form-control" id="obserDirectorCom" name="obserDirectorCom"
                        (keyup)="onKeyObserDirector($event)" style="height: 75px"
                        formControlName="obserDirectorCom"></textarea>

                    <label class="form-label" for="obserDirectorCom" *ngIf="labelsComercial">Observaciones Director
                        Comercial
                        {{contadorObserDirector}}/5000</label>

                    <label class="form-label" for="obserDirectorCom" style="color: red;"
                        *ngIf="obserDirectorCom.invalid">
                        Observaciones Director Comercial {{contadorObserDirector}}/5000</label>

                    <div class="alert alert-danger" [hidden]="obserDirectorCom.pristine || obserDirectorCom.valid">
                        <span *ngIf="obserDirectorCom.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                    </div>

                </div>

                <!-- Comprobación Comercial -->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        formControlName="estado_comercial" (change)="estadoComercial()">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Comprobación Comercial</label>
                </div>
            </section>

            <!-- Comprobación Contabilidad -->
            <section *ngIf="contabilidad">
                <h4 class="subtitulo">Contabilidad</h4>
                <!-- Observaciones Contabilidad -->
                <div class="form-floating mb-3">

                    <textarea class="form-control" id="obserContabilidad" name="obserContabilidad"
                        (keyup)="onKeyObserContabilidad($event)" style="height: 200px"
                        formControlName="obserContabilidad"></textarea>

                    <label class="form-label" for="obserContabilidad" *ngIf="labelsComercial">Observaciones Contabilidad
                        {{contadorObserContable}}/5000</label>

                    <label class="form-label" for="obserContabilidad" style="color: red;"
                        *ngIf="obserContabilidad.invalid">
                        Observaciones Contabilidad {{contadorObserContable}}/5000</label>

                    <div class="alert alert-danger" [hidden]="obserContabilidad.pristine || obserContabilidad.valid">
                        <span *ngIf="obserContabilidad.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                    </div>

                </div>
            </section>
            <br>

            <!-- Gerencia -->
            <section *ngIf="gerencia">
                <h4 class="subtitulo">Gerencia</h4>
                <div class="row">
                    <!-- Plazo aprobado -->
                    <div class="form-floating mb-3 col-md-6">

                        <input class="form-control" name="plazoAprobado" type="number" id="plazoAprobado"
                            formControlName="plazoAprobado">

                        <label class="form-label" for="plazoAprobado" *ngIf="labelsComercial">Plazo Aprobado
                            (Días)</label>

                        <label class="form-label" for="plazoAprobado" style="color: red;"
                            *ngIf="plazoAprobado.invalid">*
                            Plazo Aprobado (Días)</label>

                        <div class="alert alert-danger" [hidden]="plazoAprobado.pristine || plazoAprobado.valid">
                            <span *ngIf="plazoAprobado.errors?.['max']">El plazo es mayor a los 999 días.</span>
                        </div>

                    </div>

                    <!-- Cupo Aprobado -->
                    <div class="form-floating mb-3 col-md-6">

                        <input class="form-control" name="cupoAprobado" type="number" id="cupoAprobado"
                            formControlName="cupoAprobado">

                        <label class="form-label" for="cupoAprobado" *ngIf="labelsComercial">Cupo Aprobado</label>

                        <label class="form-label" for="cupoAprobado" style="color: red;" *ngIf="cupoAprobado.invalid">*
                            Cupo Aprobado</label>

                        <div class="alert alert-danger" [hidden]="cupoAprobado.pristine || cupoAprobado.valid">
                            <span *ngIf="cupoAprobado.errors?.['max']">El cupo es mayor a los 999'999.999.</span>
                        </div>

                    </div>
                </div>
                <!-- Observación Gerencia -->
                <div class="form-floating mb-3">

                    <textarea class="form-control" id="obserGerencia" name="obserGerencia"
                        (keyup)="onKeyObserGerencia($event)" style="height: 200px"
                        formControlName="obserGerencia"></textarea>

                    <label class="form-label" for="obserGerencia" *ngIf="labelsComercial">Observaciones Gerencia
                        {{contadorObserGerencia}}/5000</label>

                    <label class="form-label" for="obserGerencia" style="color: red;" *ngIf="obserGerencia.invalid">
                        Observaciones Gerencia {{contadorObserGerencia}}/5000</label>

                    <div class="alert alert-danger" [hidden]="obserGerencia.pristine || obserGerencia.valid">
                        <span *ngIf="obserGerencia.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                    </div>

                </div>
            </section>

            <!-- Cambiar etapa -->
            <div class="mb-3" *ngIf="!cambiarEtapa&&crearDoc">
                <button id="successButton" class="btn btn-success btn-sm" (click)="cambiarEtapa=true"><i class="bi bi-stack"></i> Cambiar Etapa</button>
            </div>
            <form class="row g-3" *ngIf="cambiarEtapa" [formGroup]="formAreasEmpresa">
                <!-- Seleecionar Etapa -->
                <div class="form-floating mb-3 col-md-6">

                    <select id="etapa" class="form-select" *ngIf="dataEtapaOption" aria-label="Default select example"
                        name="etapa" (change)="traerAreaEmpresa(etapa.value)" formControlName="etapa">

                        <option disabled selected>---Seleccione una etapa---</option>
                        <option *ngFor="let option of dataEtapaOption" [value]="option.cred_esta_id">
                            {{option.cred_esta_nombre}}</option>

                    </select>

                    <label class="form-label" for="etapa" style="color: green;" *ngIf="etapa.valid">*
                        etapa</label>
                    <label class="form-label" for="etapa" style="color: red;" *ngIf="etapa.invalid">*
                        etapa</label>

                    <div class="alert alert-danger" [hidden]="etapa.untouched || etapa.valid">
                        <span>Por favor seleccione una etapa.</span>
                    </div>

                </div>
                <!-- Seleccionar Cargo -->
                <div class="form-floating mb-3 col-md-6">

                    <select id="cargo" class="form-select" *ngIf="dataCargosOption" aria-label="Default select example"
                        name="cargo" formControlName="cargo">

                        <option disabled selected>---Seleccione un Cargo Responsable---</option>
                        <option *ngFor="let option of dataCargosOption" [value]="option.carg_id">
                            {{option.carg_nombre}}</option>

                    </select>

                    <label class="form-label" for="cargo" style="color: green;" *ngIf="cargo.valid">*
                        Cargo Responsable</label>
                    <label class="form-label" for="cargo" style="color: red;" *ngIf="cargo.invalid">*
                        Cargo Responsable</label>

                    <div class="alert alert-danger" [hidden]="cargo.untouched || cargo.valid">
                        <span>Por favor seleccione un Cargo Responsable.</span>
                    </div>

                </div>
                <!-- Cancelar Cambio de Etapa -->
                <div class="mb-3 col-md-6">
                    <button title="Cancelar Cambio de Etapa" type="button" class="btn btn-secondary"
                        (click)="cambiarEtapa=false" style="width: 100%;">Cancelar</button>
                </div>
                <!-- Cambiar Etapa -->
                <div class="mb-3 col-md-6">
                    <button title="Cambiar Etapa" type="button" class="btn btn-primary"
                        [disabled]="formAreasEmpresa.invalid||loading" (click)="numeroDocumentos()"
                        style="width: 100%;">Cambiar de
                        Etapa y Actualizar</button>
                </div>
            </form>

            <!-- Sección de Botones -->
            <section class="row g-3" *ngIf="!cambiarEtapa">
                <!-- Volver -->
                <div class="mb-3 col-md-6">
                    <button title="Volver al listado de Estudios Creditos" type="button" class="btn btn-secondary"
                        style="width: 100%;" routerLink="/EstudioCreditos">Volver</button>
                </div>

                <!-- Registrar Estudio Credito -->
                <div class="mb-3 col-md-6" *ngIf="agregar">
                    <button title="Registrar Estudio" type="button" class="btn btn-primary" style="width: 100%;"
                        (click)="crearCredEstudio()"
                        [disabled]="formEstudio.invalid || loading">{{(loading)?'Cargando...'
                        : 'Registrar y Continuar'}}</button>
                </div>

                <div class="mb-3 col-md-6" *ngIf="modificar">
                    <button title="Actualizar la informacion del Estudio" type="button" class="btn btn-primary"
                        style="width: 100%;" (click)="modificarCredEstudio()"
                        [disabled]="formEstudio.invalid || loading">{{(loading)?'Cargando...'
                        : 'Actualizar'}}</button>
                </div>

                <div class="alert alert-danger" [hidden]="formEstudio.valid">
                    <p>Por favor, complete todos los campos obligatorios marcados con un asterisco (*) antes de enviar
                        el
                        formulario. Además, asegúrese de que no quede ningún campo resaltado en rojo.</p>
                </div>
            </section>
        </form>


    </div>
</div>