<app-menu></app-menu>

<div class="cuerpo">
    <div class="container">
        <div class="card-body">
            <img src="../../../../assets/img/restriccion.png" class="logo card-img-top" alt="...">
          <h1 class="card-title">No cuenta con los permisos necesarios para ingresar a la ruta</h1>
          <h3 class="card-text">Hable con el administrador para obtener permisos</h3>
          <a href="#" class="btn btn-primary" routerLink="/Pqrs">Ir a PQRS</a>
        </div>
    </div>
</div>
