<div id="cuerpo">
    <div class="container mt-3">

        <button title="Volver al listado PQRS" class="btn btn-outline-light" routerLink="/PQRS"><i
                class="bi bi-box-arrow-left"></i></button>
        <h1>Modificar PQRS</h1>
        <br>

        <form class="row  g-3" [formGroup]="formPqrs">

            <div class="form-floating mb-3">

                <input name="fecha_recepcion" class="form-control" type="text" id="fecha_recepcion"
                    formControlName="fecha_recepcion">
                <label class="form-label" for="fecha_recepcion">Fecha Recepcion</label>

            </div>

            <div class="form-floating mb-3">

                <select id="cliente" name="cliente" class="form-select" *ngIf="dataClienteOpcion"
                    aria-label="Default select example" formControlName="cliente" (change)="getInfoCliente()">

                    <option disabled selected>---Seleccione un cliente---</option>
                    <option *ngFor="let option of dataClienteOpcion" [value]="option.cli_id">{{option.cli_nombre}}
                    </option>

                </select>

                <label class="form-label" for="cliente" style="color: green;" *ngIf="cliente.valid">* Cliente</label>
                <label class="form-label" for="cliente" style="color: red;" *ngIf="cliente.invalid">* Cliente</label>

                <div class="alert alert-danger" [hidden]="cliente.untouched || cliente.valid">
                    <span>Por favor seleccione el cliente.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <input name="zona" class="form-control" type="text" id="zona" [value]="cli_zona" disabled>
                <label class="form-label" for="zona">Zona</label>

            </div>
            <div class="form-floating mb-3 col-md-6">

                <input name="asesor" class="form-control" type="text" id="asesor" [value]="cli_asesor" disabled>
                <label class="form-label" for="asesor">Asesor</label>

            </div>
            <div class="form-floating mb-3">

                <select id="producto" class="form-select" *ngIf="dataProductoOption" aria-label="Default select example"
                    name="producto" formControlName="producto">

                    <option disabled selected>---Seleccione un producto---</option>
                    <option *ngFor="let option of dataProductoOption" [value]="option.prod_id">
                        {{option.prod_descripcion}}</option>

                </select>

                <label class="form-label" for="producto" style="color: green;" *ngIf="producto.valid">* Producto</label>
                <label class="form-label" for="producto" style="color: red;" *ngIf="producto.invalid">* Producto</label>

                <div class="alert alert-danger" [hidden]="producto.untouched || producto.valid">
                    <span>Por favor seleccione el producto.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <input class="form-control" name="lote" type="text" id="lote" formControlName="lote">

                <label class="form-label" for="lote" style="color: green;" *ngIf="lote.valid">* Lote</label>
                <label class="form-label" for="lote" style="color: red;" *ngIf="lote.invalid">* Lote</label>

                <div class="alert alert-danger" [hidden]="lote.pristine || lote.valid">
                    <span *ngIf="lote.errors?.['required']">Por favor ingrese el lote.</span>
                    <span *ngIf="lote.errors?.['maxlength']">El lote supera los 99 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <input class="form-control" name="cantidad" type="number" id="cantidad" formControlName="cantidad">

                <label class="form-label" for="cantidad" style="color: green;" *ngIf="cantidad.valid">* Cantidad</label>
                <label class="form-label" for="cantidad" style="color: red;" *ngIf="cantidad.invalid">* Cantidad</label>

                <div class="alert alert-danger" [hidden]="cantidad.pristine || cantidad.valid">
                    <span *ngIf="cantidad.errors?.['required']">Por favor ingrese la cantidad.</span>
                    <span *ngIf="cantidad.errors?.['max']">la cantidad supera los 8 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <input class="form-control" name="documento" type="text" id="documento" formControlName="documento">

                <label class="form-label" for="documento" style="color: green;" *ngIf="documento.valid">*
                    Documento</label>
                <label class="form-label" for="documento" style="color: red;" *ngIf="documento.invalid">*
                    Documento</label>

                <div class="alert alert-danger" [hidden]="documento.pristine || documento.valid">
                    <span *ngIf="documento.errors?.['required']">Por favor ingrese el documento.</span>
                    <span *ngIf="documento.errors?.['maxlength']">El documento supera los 99 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3" *ngIf="!imagen.value || cambiarImg">
                <input class="form-control" type="file" (change)="capturarFile($event)" id="formFile">
                <label for="formFile" class="form-label">Evidencia</label>
            </div>

            <div class="mb-3 col-md-6" *ngIf="previsualizacion" style="text-align: center;">
                <img id="evidencia" [src]="previsualizacion" alt="" width="70%">
            </div>

            <div class="mb-3 col-md-6 d-flex flex-column align-items-center" *ngIf="previsualizacion">
                <button class="btn btn-success"  title="Subir imagen de evidencia" [disabled]="loading" (click)="subirArchivo()">{{(loading)?'Cargando...'
                    : 'Subir Archivo'}}</button>
                <br>
                <button class="btn btn-danger" title="Cancelar" (click)="cancelarCapturarFile()">Cancelar</button>
            </div>

            <div class="mb-3 col-md-6" *ngIf="imagen.value&&!previsualizacion&&!cambiarImg" style="text-align: center;">
                <img id="evidencia" [src]="imagen.value" alt="" width="70%">
            </div>

            <div id="buttons-image" class="mb-3 col-md-6" *ngIf="imagen.value&&!previsualizacion&&!cambiarImg">

                <button title="Cambiar la imagen de evidencia" class="btn btn-warning" (click)="cambiarImg = true">Cambiar Evidencia</button>

            </div>

            <div class="form-floating mb-3">

                <textarea class="form-control" id="descripcion" name="descripcion" formControlName="descripcion"
                    (keyup)="onKeyDescripcion($event)" style="height: 200px"></textarea>

                <label class="form-label" for="descripcion" style="color: green;" *ngIf="descripcion.valid">*
                    Descripcion {{contadorDes}}/5000</label>
                <label class="form-label" for="descripcion" style="color: red;" *ngIf="descripcion.invalid">*
                    Descripcion {{contadorDes}}/5000</label>

                <div class="alert alert-danger" [hidden]="descripcion.pristine || descripcion.valid">
                    <span *ngIf="descripcion.errors?.['required']">Por favor ingrese la descripcion.</span>
                    <span *ngIf="descripcion.errors?.['maxlength']">Hay mas de 5000 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <textarea class="form-control" name="analisis" id="analisis" formControlName="analisis"
                    (keyup)="onKeyAnalisis($event)" style="height: 200px"></textarea>

                <label class="form-label" for="analisis" *ngIf="analisis.valid">Analisis
                    {{contadorAnalisis}}/5000</label>
                <label class="form-label" for="analisis" style="color: red;" *ngIf="analisis.invalid">Analisis
                    {{contadorAnalisis}}/5000</label>

                <div class="alert alert-danger" [hidden]="analisis.pristine || analisis.valid">
                    <span>Hay mas de 5000 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <input class="form-control" name="costo" type="number" id="costo" formControlName="costo">

                <label class="form-label" for="costo" *ngIf="costo.valid">Costo</label>
                <label class="form-label" for="costo" style="color: red;" *ngIf="costo.invalid">Costo</label>

                <div class="alert alert-danger" [hidden]="costo.pristine || costo.valid">
                    <span>El costo supera los 20 caracteres</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <select id="causa" class="form-select" *ngIf="dataPqrsCausa" name="causa"
                    aria-label="Default select example" formControlName="causa">

                    <option disabled selected>---Seleccione la causa raíz---</option>
                    <option *ngFor="let option of dataPqrsCausa" [value]="option.pcr_id">{{option.pcr_causa}}</option>

                </select>

                <label class="form-label" for="causa">Causa Raíz</label>

                <div class="alert alert-danger" [hidden]="causa.untouched || causa.valid">
                    <span>Por favor seleccione la causa.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <select id="cargo" class="form-select" *ngIf="dataCargos" name="cargo"
                    aria-label="Default select example" formControlName="cargo">

                    <option disabled selected>---Seleccione el cargo responsable---</option>
                    <option *ngFor="let option of dataCargos" [value]="option.carg_id">{{option.carg_nombre}}</option>

                </select>

                <label class="form-label" for="cargo">Cargo Generador</label>

                <div class="alert alert-danger" [hidden]="cargo.untouched || cargo.valid">
                    <span>Por favor seleccione el cargo responsable.</span>
                </div>

            </div>

            <div class="form-floating mb-3 col-md-6">

                <select id="tipo" class="form-select" *ngIf="dataPqrsTipo" name="tipo"
                    aria-label="Default select example" formControlName="tipo">

                    <option disabled selected>---Seleccione el tipo de pqrs---</option>
                    <option *ngFor="let option of dataPqrsTipo" [value]="option.pt_id">{{option.pt_tipologia}}</option>

                </select>

                <label class="form-label" for="tipo"> Tipologia</label>

                <div class="alert alert-danger" [hidden]="tipo.untouched || tipo.valid">
                    <span>Por favor seleccione el tipo de PQRS.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <input name="fecha_respuesta" class="form-control" type="text" id="fecha_respuesta"
                    formControlName="fecha_respuesta">
                <label class="form-label" for="fecha_respuesta">Fecha Respuesta</label>

            </div>

            <div class="form-floating mb-3">

                <input class="form-control" name="doc_cruce" type="text" id="doc_cruce" formControlName="doc_cruce">

                <label class="form-label" for="doc_cruce" *ngIf="doc_cruce.valid">Documento Cruce</label>
                <label class="form-label" for="doc_cruce" style="color: red;" *ngIf="doc_cruce.invalid">Documento
                    Cruce</label>

                <div class="alert alert-danger" [hidden]="doc_cruce.pristine || doc_cruce.valid">
                    <span>El documento cruce supera los 200 caracteres.</span>
                </div>

            </div>

            <div class="form-floating mb-3">

                <select id="estado" class="form-select" name="estado" aria-label="Default select example"
                    formControlName="estado">

                    <option disabled selected>---Seleccione el estado de la pqrs---</option>
                    <option value="1">PENDIENTE</option>
                    <option value="2">CERRADO</option>

                </select>

                <label class="form-label" for="estado" *ngIf="estado.valid">Estado</label>
                <label class="form-label" for="estado" style="color: red;" *ngIf="estado.invalid">Estado</label>

                <div class="alert alert-danger" [hidden]="estado.pristine || estado.valid">
                    <span>Por favor seleccione el estado de la PQRS.</span>
                </div>

            </div>

            <div class="mb-3 col-md-6">
                <button title="Volver al listado PQRS" type="submit" class="btn btn-secondary" style="width: 100%;"
                    routerLink="/PQRS">Volver</button>
            </div>
            <div class="mb-3 col-md-6">
                <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="modificarPqrs()"
                    title="Modificar la PQRS" [disabled]="formPqrs.invalid||loading">{{(loading)?'Cargando...'
                    : 'Actualizar'}}</button>
            </div>

            <div class="alert alert-danger" [hidden]="formPqrs.valid">
                <p>Por favor, complete todos los campos obligatorios marcados con un asterisco (*) antes de enviar el
                    formulario. Además, asegúrese de que no quede ningún campo resaltado en rojo.</p>
            </div>
        </form>


    </div>
</div>